.photos {
    margin: 0;
    padding-top: 47px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 20px;
    column-gap: 17px;
}

@media screen and (max-width: 1000px) {
    .photos {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }
}

@media screen and (max-width: 828px) {
    .photos {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(6, 1fr);
        width: 88%;
        margin: 0 auto;
        padding-top: 36px;
    }
}
